/* Globals */
body {
  /* border: 1px solid red; */
  margin: 0;
  font-family: "Inter", sans-serif;
  color: #151821;
}
:root {
  --lime-Green: hsl(163, 72%, 41%);
  --bright-Red: hsl(356, 69%, 56%);
  --facebook: #168ef4;
  --twitter: hsl(203, 89%, 53%);
  --instagram: linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%);
  --instagram-1: hsl(37, 97%, 70%);
  --instagram-2: hsl(329, 70%, 58%);
  --youTube: hsl(348, 97%, 39%);
  --gray: #5f616d;
  --cardGray: #f0f3fa;
  --toggle1: hsl(230, 22%, 74%);
  /* Dark Theme */

  --toggle: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%);
  --toggle-1: hsl(210, 78%, 56%);
  --toggle-2: hsl(146, 68%, 55%);
  /* (BG) */
  --very-Dark-Blue: hsl(230, 17%, 14%);
  /* (Top BG Pattern) */
  --very-Dark-Blue-1: hsl(232, 19%, 15%);
  --dark-Desaturated-Blue: hsl(228, 28%, 20%);
  --desaturated-Blue: hsl(228, 34%, 66%);
  --white: hsl(0, 0%, 100%);
}
.dark-mode {
  /* border: 1px solid green; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dark-mode-title {
  color: var(--desaturated-Blue);
  font-weight: bold;
  font-size: 0.9em;
}
.checkbox {
  display: none;
}
.checkbox:checked ~ .switch::before {
  transform: translate(0px);
}
.switch {
  /* border: 1px solid red; */
  display: block;
  height: 25px;
  border-radius: 50px;
  background: var(--toggle1);
  width: 50px;
  padding: 3px;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none; /*Evita selecionar texto al momento de hacer muchos clicks*/
  /* align-items: flex-start;
  justify-content: center;
  flex-direction: column; */
}
.switch::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--white);
  transform: translate(24px);
  transition: 0.3s;
  /* will-change: transform; */
}
/* header */
.header {
  /* border: 1px solid red; */
  /* display: none; */
  background: #f8f9fe;
  padding-bottom: 100px;
  border-radius: 0 0 20px 20px;
  padding-top: 2em;
}
.title-main {
  font-size: 1.5rem;
  margin: 0;
}
.header-total {
  color: var(--gray);
  font-weight: 700;
  margin: 0.4em 0;
  font-size: 0.85em;
  border-bottom: 1px solid var(--gray);
  padding-bottom: 1.5em;
  margin-bottom: 2px;
}
.wrapper {
  padding: 0 30px;
}
.grid {
  display: grid;
  grid-row-gap: 26px;
}
.top-card {
  /* border: 1px solid green; */
  margin-top: -50px;
  /* display: none; */
}
.card {
  /* border: 1px solid blue; */
  /* width: 400px; */
  overflow: hidden;
  border-radius: 6px;
  background: var(--cardGray);
  text-align: center;
  padding: 1.5em 0;
  position: relative;
  /* margin-bottom: 2.5rem; */
}
.card::before {
  content: "";
  height: 4px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  /* margin-bottom: 1.5rem; */
}
.card.facebook::before {
  background: var(--facebook);
}
.card.twitter::before {
  background: var(--twitter);
}
.card.instagram::before {
  background-image: linear-gradient(
    to right,
    var(--instagram-1),
    var(--instagram-2)
  );
}
.card.youtube::before {
  background: var(--youTube);
}
.card-title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--desaturated-Blue);
  font-size: 0.75em;
  font-weight: bold;
}
.card-title img {
  margin-right: 8px;
}
/* .card-followers {
  border: 1px solid blue;
} */
.card-followers-number {
  font-size: 50px;
  font-weight: 700;
  /* border: 1px solid red; */
}
.card-followers-title {
  display: block; /* Especificamos q este elemento empieze en una nueva linea*/
  text-transform: uppercase;
  color: var(--desaturated-Blue);
  /* border: 1px solid black; */
  letter-spacing: 4.3px;
  font-size: 0.75em;
}
.card-today {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 22px;
  color: var(--lime-Green);
  font-weight: bold;
  font-size: 0.74em;
  letter-spacing: 0.7px;
}
.card-today.youtube {
  color: var(--bright-Red);
}
.card-today img {
  margin-right: 0.5em;
}

/* Overview */
.overview {
  padding-bottom: 3em;
}
.title-overview {
  color: var(--gray);
  font-size: 1.45em;
  margin-top: 2em;
  margin-bottom: 1.3em;
}
.grid.overview {
  display: grid;
  grid-row-gap: 20px;
}
.card-small {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  background: var(--cardGray);
  border-radius: 4px;
  padding: 1.7em;
}
.card-small p {
  margin: 0;
}
.card-small-views {
  /* border: 1px solid purple; */
  color: var(--gray);
  font-weight: bold;
  font-size: 0.9em;
}
.card-small-icon {
  text-align: right;
  /* border: 1px solid yellow; */
}
.card-small-number {
  /* border: 1px solid teal; */
  font-weight: bold;
  font-size: 2em;
  line-height: 0.9em;
}
.card-small-porcentage {
  /* border: 1px solid green; */
  text-align: right;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  color: var(--lime-Green);
  font-weight: bold;
  font-size: 0.8em;
}
.card-small-porcentage.red {
  color: var(--bright-Red);
}
.card-small-porcentage span {
  display: flex;
  align-items: center;
}
.card-small-porcentage img {
  margin-right: 3px;
}

/* media Queries */
@media screen and (min-width: 480px) {
  .grid {
    /* border: 1px solid purple; */
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .wrapper {
    margin: auto;
    max-width: 1440px;
  }
  .title-main {
    font-size: 2.3em;
    font-weight: 700;
  }

  .header {
    padding-bottom: 120px;
  }
  .top-card {
    /* border: 1px solid green; */
    margin-top: -100px;
  }
  .header-total {
    letter-spacing: 1px;
    font-size: 1em;
  }
  .overview {
    padding-bottom: 2em;
  }
}
@media screen and (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .header-grid {
    display: grid;
    grid-template-columns: 1fr 145px;
  }
  .header-total {
    border: none;
  }
}
@media screen and (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Modo Dark */
@media (prefers-color-scheme: dark) {
  body {
    background: #1d2029;
    color: var(--white);
  }
  :root {
    --cardGray: #252b43;
  }
  .header {
    background: #20222f;
  }
  .switch {
    background-image: linear-gradient(
      to right,
      var(--toggle-1),
      var(--toggle-2)
    );
  }
  .switch::before {
    background: var(--very-Dark-Blue);
  }
  .card-title {
    color: var(--desaturated-Blue);
  }
  .card-followers-title {
    color: var(--desaturated-Blue);
  }
  .title-overview {
    color: var(--white);
  }
  .card-small-views {
    color: var(--desaturated-Blue);
  }
}
